body.dark-mode {
    background-color: #000219;
    color: white;
}

body.dark-mode #left-column {
    background-color: #0a0a29;
}

body.dark-mode a {
    color: coral;
}

body.dark-mode #proj-btn {
    background-color: darkred;
    color: white;
    border: 2px solid darkred;
}

body.dark-mode #proj-btn:hover {
    background-color: rgb(173, 0, 0);
}

body.dark-mode thead th {
    background-color: darkred;
}

body.dark-mode #media-icons {
    margin-bottom: 8px;
}

body.dark-mode #media-icons a {
    font-size: 32px;
    color: palevioletred;
}

body.dark-mode #media-icons a:visited {
    color: palevioletred;
}

body.dark-mode #media-icons a:hover {
    color: salmon;
}

body.dark-mode .proj-card {
    background-color: midnightblue;
}

body.dark-mode .proj-card .proj-info p {
    color: antiquewhite;
}

body.dark-mode .tech-box {
    color: black;
}

body.dark-mode .proj-tech-stack {
    background-color: #beb8e4;
}

body.dark-mode .timeline-container ul li::after {
    background: white;
}