/* Dark Mode */

body.dark-mode {
    background-color: #121212;
    color: white;
}

body.dark-mode #left-column {
    background-color: #0a0a29;
}

body.dark-mode a {
    color: salmon;
}

/* Media Links */

body.dark-mode #media-icons {
    margin-bottom: 8px;
}

body.dark-mode #media-icons a {
    font-size: 32px;
    color: palevioletred;
}

body.dark-mode #media-icons a:hover {
    color: salmon;
}

body.dark-mode #media-icons a:visited {
    color: palevioletred;
}

/* Tech Stack */

body.dark-mode .tech-box {
    color: black;
}

/* Timeline */

body.dark-mode .timeline-container ul li::after {
    background: white;
}

/* Top Project */

body.dark-mode .scrollable-table thead th {
    background-color: darkred;
}

body.dark-mode #proj-btn {
    background-color: darkred;
    color: white;
    border: 2px solid darkred;
}

body.dark-mode #proj-btn:hover {
    background-color: rgb(173, 0, 0);
}

/* Projects Page  */

body.dark-mode .proj-card {
    background-color: #1F1B24;
}

body.dark-mode .proj-card .proj-info p {
    color: antiquewhite;
}

body.dark-mode .proj-tech-stack {
    background-color: #544b5e;
    color: white;
}
