:root {
    --bg-color: whitesmoke;
    --sidebar-color: #fff;
    --top-color: darkblue;  /* crimson, darkmagenta, #FF8F8F */
    --light-blue: rgb(173, 216, 230, 0.5);

    --color-text: #616161;
    --color-text-btn: #ffffff;
    --card1-gradient-color1: #3f5efb;
    --card1-gradient-color2: #fc466b;
    --card2-gradient-color1: #bb7413;
    --card2-gradient-color2: #e7d25c;
    --card3-gradient-color1: #7F00FF;
    --card3-gradient-color2: #E100FF;
    --card4-gradient-color1: #11998e;
    --card4-gradient-color2: #38ef7d;
    --card5-gradient-color1: #3f2b96;
    --card5-gradient-color2: #a8c0ff;
    --card6-gradient-color1: #f12711;
    --card6-gradient-color2: #f5af19;
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bg-color);
    display: flex;
    flex-direction: row;
    min-height: 100vh;
}

h1 {
    margin: 1em;
    text-align: center;
}

a {
    text-decoration: none;
    color: blue;
}

/* ---------------
   Particles
 ----------------*/

#particles-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#particles-container .particle {
    position: absolute;
    background-color: #4c00ff;
    border-radius: 50%;
    opacity: 0.6;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

/* ---------------
   Sidebar 
 ----------------*/

#sidebar {
    position: fixed;
    top: 0;
    left: 0;
    min-height: 100vh;
    width: 15rem;
    padding: 1rem;
    background-color: var(--sidebar-color);
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.2);
    transition: left 0.5s ease-in-out;
    z-index: 10;
    display: flex;
    flex-direction: column;
}

#profile-pic {
    display: block;
    height: 9em;
    margin: 0.5rem 0;
    margin: 0 auto;
}

#sidebar h2 {
    text-align: center;
    margin-bottom: 2rem;
}

#sidebar ul {
    list-style-type: none;
}

#sidebar ul li a {
    display: flex;
    flex-direction: row;
    padding: 8px;
    width: 100%;
    color: black;
    gap: 10px;
}

#sidebar ul li a:hover,
#sidebar #active {
    background-color: var(--light-blue);
    color: blue;
}

#sidebar ul li i {
    width: 1em;
}

#hamburger {
    display: none;
    font-size: 1.5rem;
    cursor: pointer;
    position: absolute;
    top: 15px;
    left: 20px;
    color: white;
}

#sidebar-close-btn {
    display: none;
    background: none;
    border: none;
    font-size: 1.5rem;
    padding: 0.5rem;
    position: absolute;
    top: 10px;
    right: 10px;
}

/* ---------------
   Main Container 
 ----------------*/

main {
    margin-left: 15rem;
    width: 100%;
    --s: 235px;
    --c1: #fff;
    --c2: ghostwhite;
    --_g: #0000 8%, var(--c1) 0 17%, #0000 0 58%;
    background: linear-gradient(135deg, #0000 20.5%, var(--c1) 0 29.5%, #0000 0) 0 calc(var(--s) / 4), linear-gradient(45deg, var(--_g)) calc(var(--s) / 2) 0, linear-gradient(135deg, var(--_g), var(--c1) 0 67%, #0000 0), linear-gradient(45deg, var(--_g), var(--c1) 0 67%, #0000 0 83%, var(--c1) 0 92%, #0000 0), var(--c2);
    background-size: var(--s) var(--s);
}

#top {
    height: 50px;
    background-color: var(--top-color);
    padding-left: 1em;
    padding-top: 0.88em;
    text-align: center;
}

footer {
    text-align: center;
    margin: 10px;
    font-size: small;
}

/* ---------------
   index.html 
 ----------------*/

#main-content {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

#left-content {
    width: 75%;
    display: flex;
    flex-direction: column;
}

#right-content {
    width: 25%;
    padding: 1em 2em 2em 0;
}

.info-container {
    background-color: #fff;
    border: 3px dotted var(--light-blue);
    margin-bottom: 1em;
    padding: 1em;
    width: 85%;
    border-radius: 15px;
    margin: 10px auto;
    /* justify-self: center; */
}

.info-container h2 {
    margin-bottom: 0.6em;
}

.info {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 1em 0;
}

.info p {
    border-bottom: 1px solid rgb(128, 128, 128, 0.4);
    padding-bottom: 0.2em;
    word-break: break-all
}

.question {
    color: #676767;
}

#right-title {
    font-weight: bold;
    border-bottom: thick solid rgb(128, 128, 128);
    padding-bottom: 0.1em;
}

/* ---------------
   projects.html 
 ----------------*/

.project {
    display: inline-block;
    position: relative;
    width: 325px;
    height: 325px;
    border-radius: 30px;
    overflow: hidden;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.3);
    margin: 25px;
}

.project .image {
    height: 82%;
    position: absolute;
    left: 0;
}

.project .text {
    border-radius: 30px;
    position: absolute;
    top: 55%;
    left: -5px;
    height: 65%;
    width: 108%;
    transform: skew(19deg, -9deg);
}

.model1 .text {
    background-image: linear-gradient(0deg, var(--card1-gradient-color1), var(--card1-gradient-color2));
}

.model2 .text {
    background-image: linear-gradient(-20deg, var(--card2-gradient-color1), var(--card2-gradient-color2))
}

.model3 .text {
    background-image: linear-gradient(-20deg, var(--card3-gradient-color1), var(--card3-gradient-color2))
}

.model4 .text {
    background-image: linear-gradient(-20deg, var(--card4-gradient-color1), var(--card4-gradient-color2))
}

.model5 .text {
    background-image: linear-gradient(-20deg, var(--card5-gradient-color1), var(--card5-gradient-color2))
}

.model6 .text {
    background-image: linear-gradient(-20deg, var(--card6-gradient-color1), var(--card6-gradient-color2))
}

.project .logo {
    display: flex;
    place-items: center;
    height: 80px;
    width: 80px;
    border-radius: 20px;
    background-color: #fff;
    position: absolute;
    bottom: 30%;
    left: 30px;
    overflow: hidden;
    box-shadow: 5px 5px 30px rgba(0, 0, 0, 0.7);
}

.project .logo img {
    width: 100%;
}

.project .main-text {
    position: absolute;
    color: #fff;
    font-weight: 900;
    left: 120px;
    bottom: 26%;
    margin-right: 8px;
}

.project-btn {
    position: absolute;
    color: #fff;
    right: 30px;
    bottom: 8%;
    padding: 10px 20px;
    border: 1px solid #fff;
    animation: proj-btn-anim 2s linear infinite;
}

@keyframes proj-btn-anim {
    0% {transform: translate(0, -2px);}
    25% {transform: translate(2px, 0);}
    50% {transform: translate(0, 2px);}
    75% {transform: translate(-2px, 0);}
    100% {transform: translate(0, -2px);}
}

@media (prefers-reduced-motion: reduce) {
    .project-btn {
        animation: none;
    }
}

.project-btn:hover {
    animation: none;
}

.project-btn a {
    color: #fff;
}

.project .title-date {
    position: absolute;
    color: #fff;
    left: 30px;
    bottom: 9%;
}

#tech-stack-section {
    width: 90%;
    text-align: center;
    margin: auto;
    margin-bottom: 4rem;
}

.techs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12ch, auto));
    gap: 10px;
}

.techs div {
    background-color: #222;
    padding: 1.5ch;
    color: white;
    text-align: center;
}

/* --------------------
   certificates.html 
 ---------------------*/

.ribbon-container {
    position: relative;
    z-index: 1;
}

.ribbon {
    background: var(--light-blue);
    box-shadow: 2px 6px 12px rgba(0, 0, 0, 0.5);
    text-align: center;
    margin: 0 auto;
    padding: 0.25em 0;
    position: relative;
    width: 70%;
}

.ribbon:before,
.ribbon:after {
    border: 1.5em solid var(--light-blue);
    content: '';
    display: block;
    position: absolute;
    bottom: -1em;
    z-index: -1;
}

.ribbon:before {
    left: -2em;
    /* border-right-width: 1.5em; */
    border-left-color: transparent;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.ribbon:after {
    right: -2em;
    /* border-left-width: 1.5em; */
    border-right-color: transparent;
    box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.5);
}

.ribbon-content {
    border-top: 0.0625em dashed hsl(30, 90%, 44%);
    border-bottom: 0.0625em dashed hsl(30, 90%, 44%);
    box-shadow: inset 0px 1px 1px rgba(0, 0, 0, 0.08), inset 0px -1px 1px rgba(255, 255, 255, 0.08), 0px -1px 1px rgba(255, 255, 255, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.08);
    display: block;
    padding: 0.6875em 0;
}

.ribbon-content:before,
.ribbon-content:after {
    content: '';
    display: block;
    position: absolute;
    border-style: solid;
    border-color: var(--top-color) transparent transparent transparent;
    bottom: -1em;
}

.ribbon-content:before {
    left: 0;
    border-width: 1em 0 0 1em;
}

.ribbon-content:after {
    right: 0;
    border-width: 1em 1em 0 0;
}

.ribbon a:hover {
    cursor: pointer;
} 

.underpage {
    display: flex;
    align-items: stretch;
    flex-direction: row;
    background: #f4f4f4;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.25);
    box-sizing: border-box;
    line-height: 1.5;
    margin: 0 auto;
    padding: 4.5em 1.5em 1.5em;
    position: relative;
    top: -3.5em;
    width: 65%;
    z-index: -1;
}

.underpage img {
    width: auto;
    max-width: 200px;
    max-height: 200px;
    margin-right: 10px;
}

/* ---------------
   resume.html 
 ----------------*/

.pdf-container {
    text-align: center; 
    height: 100vh; 
    margin-bottom: 10px;
}

iframe {
    width: 90%;
    height: 80vh; 
    border: none;
}

/* ---------------
   Case Studies
 ----------------*/

.case-study-header {
    padding: 2rem 1rem;
    text-align: center;
}

.case-study-header .subtitle {
    font-size: 1.2rem;
    font-weight: 300;
    margin: 0.5rem 0;
}

.case-study-header .button {
    text-decoration: none;
    cursor: pointer;
    padding: 1em;
    font-size: 0.8rem;
    background: #3300ff;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    font-weight: 500;
    border-radius: 10px;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.15);
    transition: transform .3s;
    margin: 10px;
}

.case-study-header .button:hover {
    transform: translateY(-3px);
}

.case-study-content {
    max-width: 900px;
    margin: 2rem auto;
    padding: 1rem;
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    font-family: 'Arial', sans-serif;
}

.case-study-content div {
    margin-bottom: 1rem;
}

.case-study-content ul {
    list-style-type: disc;
    padding-left: 1.5rem;
}

.case-study-content .gallery-img {
    max-width: 100%;
    margin-bottom: 1rem;
    border-radius: 6px;
}

.case-study-content h2 {
    margin: 20px 0;
    color: black;
}

.case-study-content .gallery p {
    margin: 20px 0;
    font-weight: bold;
    color: blue;
}

/* ---------------
   Screen Size
 ----------------*/

@media screen and (max-width: 1000px) {
    /* index.html */

    #main-content {
        flex-direction: column;
    }

    #left-content,
    #right-content {
        width: 100%;
    }

    #right-content {
        padding: 2em;
    }

    .info {
        display: grid;
        grid-template-columns: 1fr;
        gap: 0.1em 0;
    }

    .info p:nth-child(odd) {
        border-bottom: none;
    }

    .info p:nth-child(even) {
        margin-bottom: 0.8em;
    }

    /* certificates.html */

    .underpage {
        flex-direction: column;

    }

    .underpage img {
        align-self: center;
    }


}

@media screen and (max-width: 680px) {
    h1 {
        margin-top: 2.5em;
    }

    #sidebar {
        left: -15rem;
    }

    #hamburger {
        display: block;
        z-index: 9;
        position: fixed;
    }

    #sidebar.active {
        left: 0;
    }

    #sidebar-close-btn {
        cursor: pointer;
        display: block;
    }

    #sidebar-close-btn:hover {
        background-color: rgb(173, 216, 230, 0.5);
        color: blue;
    }

    main {
        margin-left: 0;
    }

    #top {
        padding-left: 4em;
        z-index: 8;
        position: fixed;
        width: 100%;
    }
}


