body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    padding: 2px 0 6px 0; 
    background-color: aliceblue; 
    border-radius: 0 0 12% 12%;
}

section {
    padding: 10px;
    display: grid;
    flex-direction: column;
    margin: 0 20px;
}

/* Top Navbar */
.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 12px;
    margin: 18px;
}

.navbar li {
    list-style: none;
}

.navbar a {
    text-decoration: none;
    color: black;
    padding: 0px 15px;
}

.navbar a:hover, .navbar a.active {
    color: blue;
}

.nav-menu {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
}

.nav-branding {
    font-size: 20px;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 19px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: black;
}

.introduction {
    margin: 15px 50px;
    padding: 5px 10px;
}

.introduction p {
    margin-top: 0px;
}

/* Box */

.box {
    width: 90%;
    justify-self: center;
    padding: 20px;
    margin: 20px 5%;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.box .row {
    display: flex;
    flex-direction: row;
}

.box h3 {
    margin-top: 0;
    color: #333;
}

.box p {
    color: black;
}

.box .proj-logo {
    max-width: 175px;
    max-height: 175px;
    margin-right: 20px;
}

.tech-box {
    max-height: 30px;
    display: flex;
    flex-direction: row;
    justify-self: center;
    padding: 1px 8px;
    margin: 5px;
    border-radius: 8px;
    background-color: rgba(255, 250, 240, 0.6);;
}

/* Other */
.divider {
    display: flex;
    font-size: 30px;
    justify-content: center;
    align-items: center;
}

.divider::before,
.divider::after {
    content: '';
    padding: 0.5px;
    background-color: gray;
    margin: 10px;
    width: 175px;
}

.tech-img {
    max-height: 125px;
    margin: 12px;
}

/* Footer */

footer {
    margin-top: 20px;
    padding: 30px 0;
    background-color:rgb(173, 217, 255);
    text-align: center;
}

.footer-icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-icon {
    color: black;
    margin: 0 10px;
}

.footer-icon:hover {
    color: blue;
}

/* Responsiveness */
@media(max-width:600px) {
    .hamburger {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .nav-menu {
        position: fixed;
        left: -110%;
        top: 70px;
        gap: 0;
        flex-direction: column;
        background-color: rgb(192, 226, 255);
        width: 100%;
        text-align: center;
        padding: 0;
        transition: 0.3s;
    }

    .nav-item {
        margin: 20px 0;
    }

    .nav-menu.active {
        left: 0;
    }

    .box .row {
        display: block;
    }

    .box .proj-logo {
        display: block;
        margin: auto;
    }
}