* {
    margin: 0;
    padding: 0;
}

body {
    background-color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

section {
    margin: 12px;
    margin-bottom: 15px;
}

/* Body Layout */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.column {
    float: left;
}

#left-column {
    top: 0;
    position: sticky;
    width: 35%;
    min-height: 100vh;
    background-color: rgba(240, 128, 128, 0.312);
}

#right-column {
    width: 65%;
}

#left-content {
    padding: 20% 32px;
    text-align: center;
}

#right-content {
    padding: 6% 10% 1% 10%;
}

/* Link Hover Underline Animation */

.underline {
    position: relative;
    color: blue;
    text-decoration: none;
}

.underline::before {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 2px;
    background-color: #0d79d7;
    transition: width 0.6s cubic-bezier(0.25, 1, 0.5, 1);
}

.underline:hover::before {
    left: 0;
    right: auto;
    width: 100%;
}

/* Profile */

#profile-card {
    margin: 8px 0;
}

#profile-card i::before {
    color: purple;
}

#media-icons {
    margin-bottom: 8px;
}

#media-icons a {
    font-size: 32px;
    color: blue;
}

#media-icons a:visited {
    color: blue;
}

#media-icons a:hover {
    color:cornflowerblue;
}

/* Tech Stack */

#tech-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tech-box {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgb(155, 208, 226);
    height: 25px;
    padding: 3px 8px;
    margin: 5px;
    gap: 2px;
    border-radius: 8px;
    font-size: small;
    font-weight: bold;
    color: black;
}

/* Timeline (experience & education) */

.timeline-container small {
    display: block;
    opacity: 0.9;
}

.timeline-container ul li {
    position: relative;
    margin-left: 15px;
    padding-left: 25px;
    padding-bottom: 15px;
    list-style-type: none;
}

.timeline-container ul li::before,
.timeline-container ul li::after {
    content: "";
    position: absolute;
}

.timeline-container ul li::before {
    width: 7px;
    height: 7px;
    border: 3px solid black;
    background: var(--accent-color);
    border-radius: 50%;
    left: 3px;
    z-index: 1;
}

.timeline-container ul li::after {
    width: 3px;
    height: 100%;
    background: black;
    left: 7px;
    top: 0;
}

/* Scrollable Table (top projects) */

.scrollable-table-container {
    max-height: 300px;
    overflow-y: auto;
    border: 1px solid #ccc;
    margin-bottom: 9px;
}

.scrollable-table {
    border-collapse: collapse;
    gap: 0;
}

.scrollable-table thead th {
    position: sticky;
    top: 0;
    background-color: salmon;
    z-index: 1;
    margin: 0;
}

.scrollable-table th,
.scrollable-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

/* Top Project */

#top-projs-container {
    justify-items: center;
}

#proj-btn {
    justify-self: center;
    background-color: rgba(250, 128, 114, 0.717);
    padding: 4px 84px;
    border: 2px solid salmon;
    border-radius: 25px;
    font-size: 12px;
    text-decoration: none;
    color: black;
    cursor: pointer;
}

#proj-btn:hover {
    background-color: salmon;
}

#proj-btn a:visited {
    color: black;
}

/* Certificate */

.collapsible {
    background-color: rgb(103, 198, 229);
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    font-weight: bold;
    border-bottom: 2px solid rgba(89, 178, 250, 0.574);
}

.collapsible:focus {
    border: 2px solid white;
}

.active,
.collapsible:hover {
    background-color: rgb(123, 160, 255);
}

.collapsible:after {
    content: '\002B';
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: "\2212";
}

.certificate {
    padding: 0 12px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/* Other */
#return-home-btn {
    font-weight: 600;
}

#footer-notes {
    text-align: center;
    margin: 50px 0 20px 0;
    font-size: small;
    opacity: 80%;
}

/* Responsive - when the screen is less than 800px wide */

@media (max-width: 800px) {
    #left-column, #right-column {
        width: 100%;
        position: relative;
        min-height: auto;
    }

    #left-content, #right-content {
        top: auto;
        padding: 6% 10% 2% 10%;
    }

    #left-content {
        text-align: left;
    }

    #return-home-btn {
        margin-bottom: 10px;
    }
}


/* Projects Page */

.project {
    position: relative;
}

.proj-card {
    display: flex;
    flex-direction: row;
    min-height: 100px;
    padding: 20px;
    margin-top: 20px;
    border-radius: 3px;
    background-color: white;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    position: relative;
    justify-content: center;
    align-items: center;
}

.proj-tech-stack {
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
    border-radius: 3px;
    background-color: #ececec;
    color: black;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    justify-content: center;
    align-items: center;
}

.proj-card img {
    width: 120px;
    height: 120px;
    /* border: 1px solid gray; */
}

.proj-card .proj-info {
    padding: 0 20px;
    width: 90%;
}

.proj-card .proj-info h3 {
    font-size: 1.2em;
    color: #009688;
    font-style: italic;
}

.proj-card .proj-info p {
    padding: 10px 0;
    color: #5a5a5a;
}


/* Responsive - when the screen is less than 600px wide */
@media (max-width: 600px) {
    .proj-card {
        flex-direction: column;
    }

    .proj-card img {
        margin-bottom: 10px;
        width: 100px;
        height: 100px;
    }
}