:root {
    --bg-color: #101010;
    --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    --font-size: 14pt;
    --white: #f8f8f8;
}

*,
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--bg-color);
    font-family: var(--font-family);
    font-size: var(--font-size);
    text-align: center;
    color: var(--white);
}

h2 {
    margin: 2rem 0 1rem;
}

a {
    text-decoration: none;
    color: #6699ff;
    cursor: pointer;
}

a:hover {
    text-decoration: underline;
}

.divider {
    border: none;
    height: 3px;
    background: linear-gradient(to right, #ff0000, #3300ff);
    margin: 20px 0;
}

.line {
    height: 4px;
    width: 40px;
    border-width: 0;
    background-color: blue;
    margin: auto;
    margin-bottom: 1.5rem;
}

.button {
    /* border: none; */
    padding: 6px 11px 8px;
    border-radius: 18px;
    font-size: 12pt;
    cursor: pointer;
    color: #000;
    background-color: var(--white);
    transition: background-color 0.3s ease;
    border: 3px solid #3300ff
}

.button:hover {
    background-color: #00ffff;
    text-decoration: none;
}

/* Top Nav */

nav {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 32px 11%;
}

.logo {
    display: block;
    height: fit-content;
    margin-right: auto;
}

.logo img {
    height: 2rem;
    cursor: pointer;
}

.nav-links {
    display: flex;
    gap: 2rem;
    margin-right: 1rem;
    margin-top: -4px;
}

.nav-links li {
    list-style: none;
    cursor: pointer;
}

.nav-links a {
    color: var(--white);
}

.nav-links a:hover {
    text-decoration: none;
}

.active {
    position: relative;
    display: inline-block;
}

.active::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(to right, #3300ff, #00ffff);
}

.side-menu.open {
    right: 0;
}

.hamburger,
.side-menu {
    margin-left: auto;
    display: none;
}

/* Introduction */

#introduction {
    height: calc(100vh - 100px);
    padding-top: 100px;
    max-width: 80%;
    margin: auto;
}

#introduction h1 {
    font-size: 40pt;
}

#introduction .orange-text {
    background: linear-gradient(#ff0000, #ffbb00);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#introduction p {
    margin: 0.5rem 0 2rem;
}

.intro-btns {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
}

/* About Me Section */

#about-section {
    width: 80%;
    margin: auto;
    margin-bottom: 4rem;
}

.fakeMenu {
    display: flex;
    gap: 8px;
    margin: 0 auto;
    padding-left: 15px;
    width: min(570px, 100%);
    height: 25px;
    align-items: center;
    background-color: #bbb;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.fakeButtons {
    height: 10px;
    width: 10px;
    border-radius: 50%;
}

.fakeClose {
    background-color: #ff3b47;
    border: 1px solid #9d252b;
}

.fakeMinimize {
    background-color: #ffc100;
    border: 1px solid #9d802c;
}

.fakeZoom {
    background-color: #00d742;
    border: 1px solid #049931;
}

.fakeScreen {
    display: block;
    background-color: #151515;
    margin: 0 auto;
    padding: 20px;
    width: min(570px, 100%);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.fakeScreen p {
    text-align: left;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
    display: block;
    padding-left: 2ch;
    text-indent: -2ch;
}

.about-links-list {
    display: block;
    padding-bottom: 10px;
    text-align: left;
}

.about-links-list li {
    list-style: none;
}

.about-links-list a {
    display: inline-block;
    padding-left: 2ch;
}

.fakeScreen p:nth-child(odd) {
    color: #4CAF50;
}

.fakeScreen p:nth-child(even) {
    margin-bottom: 10px;
}

.fakeScreen p:last-child:after {
    content: "";
    display: inline-block;
    width: 2px;
    height: 18px;
    margin-bottom: -4px;
    background-color: #4CAF50;
    animation: blink 1.7s step-start infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

/* Work Experience */

#experience-section {
    width: 80%;
    margin: auto;
    margin-bottom: 4rem;
}

.experience {
    display: flex;
    gap: 10px;
    margin-bottom: 1rem;
    padding: 2rem;
    background: linear-gradient(to bottom, #4b1a68, #6b1c9b);
    border-radius: 8px;
}

.experience img {
    max-height: 65px;
    max-width: 65px;
    border-radius: 25px;
}

.experience-info {
    text-align: left;
}

.experience-info p {
    font-style: italic;
}

.experience ul {
    margin-top: 2px;
    margin-left: 1rem;
    list-style: square;
}

.experience-link {
    width: fit-content;
    font-weight: bold;
}

/* Projects Section */

#projects-section {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, auto));
    gap: 1rem;
    margin: auto;
    margin-bottom: 4rem;
}

.project {
    padding: 1rem;
    border-radius: 20px;
    background: linear-gradient(to bottom, #14497d, #00aaff);
    box-shadow: 0 4px 12px rgba(59, 95, 163, 0.3);
    position: relative;
    overflow: hidden;
    transition: background-color 0.3s ease;
}

.project:hover {
    background: linear-gradient(to bottom, #002f5d, #0077cc);
}

.project img {
    margin: 10px 0;
    width: 100%;
    border-radius: 20px;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0s 0.3s;
    text-align: center;
}

.project:hover .overlay {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.3s ease, visibility 0s 0s;
}

.overlay a {
    display: inline-block;
    margin: 5px;
    padding: 10px 20px;
    background-color: #00aaff;
    color: var(--white);
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.overlay a:hover {
    background-color: #0099cc;
}

/* Connect Section */

#connect-section {
    display: flex;
    gap: .5rem;
    margin: 1rem;
    justify-content: center;
    align-items: center;
}

#connect-section i {
    font-size: 50px;
    color: #ff6699;
}

#connect-section i:hover {
    color: rgb(252, 60, 60);
}

/* Tech Stack Section */
#tech-section {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10ch, auto));
    gap: 10px;
    margin: auto;
    margin-bottom: 4rem;

}

#tech-section div {
    background-color: #222;
    padding: 1rem;
}

/* Footer */

footer {
    font-size: 8pt;
    margin: 2rem;
}

/* Responsiveness */

@media screen and (max-width:715px) {
    :root {
        --font-size: 11pt;
    }

    #introduction h1 {
        font-size: 30pt;
    }

    .button {
        font-size: 9pt;
    }

    .experience img {
        display: none;
    }

    .nav-links,
    .connect-link {
        display: none;
    }

    .hamburger {
        display: block;
        font-size: 25px;
        cursor: pointer;
    }

    .side-menu {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        position: fixed;
        top: 0;
        right: -250px;
        width: 250px;
        height: 100%;
        background-color: #333;
        transition: right 0.3s ease;
        z-index: 10;
    }

    .side-nav-links {
        list-style-type: none;
        padding: 20px 0;
        margin-top: 60px;
    }

    .side-nav-links li {
        padding: 18px 0;
        width: 100%;
        transition: background-color 0.3s ease;
    }

    .side-nav-links li a {
        display: block;
        width: 100%;
        font-weight: bold;
        font-size: 14pt;
    }

    .side-nav-links li:hover {
        background-color: #444;
    }

    .close-btn {
        font-size: 25px;
        color: var(--white);
        position: absolute;
        top: 34px;
        right: 20%;
        cursor: pointer;
    }
}


#particles-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;

}

#particles-container .particle {
    position: absolute;
    background-color: blue;
    border-radius: 50%;
    opacity: 0.6;
    transform: translate(-50%, -50%);
    pointer-events: none;
}

.overlay a.disabled-link {
    background-color: gray;
    text-decoration: none;
    cursor: not-allowed;
}